<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Initiator test run">
  <test name="Initiator Test">
    <classes>
      <class name="learnPOJO.testcls">
       <methods>
        <include name="testMethod" />
      </methods>      
      </class>
    </classes>
  </test>
</suite>
